
.gradient-btn{
    align-items: center;
    padding: 6px 12px;
    border-radius: 4px;
    border: none;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(162, 88, 253) 0%, rgba(116,182,247,1) 90% );
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 15px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    height: 40px;
}

.gradient-btn:hover{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,   rgba(116,182,247,1) 0% , rgba(171,102,255,1) 90%);

}

.textarea input,
.textarea textarea{
    background-color: rgb(246, 246, 246);
    border: none;
    outline: none;
}

/* left popup */
.left
{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-cont 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-cont img
{
    width: 100%;
    height: 400px;
}

/* ========right-popup=============== */

/* container setting */
.modal-container{
    width: 80%;
    max-width: 900px;
    height: 400px;
    margin:auto ;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top:20vh;
    z-index: 100;
}

.left{
    width: 50%;
    min-width: 300px;
    height: stretch;
}

.modal-box{
    width: 50%;
    min-width: 300px;
    padding: 1rem;
    background-color: white;
    border-radius: 0 5px 5px 0;
}

.modal-header{
    display: flex;
    justify-content: space-between;
}
.modal-title{
    font-size: 25px;
    margin-bottom: 1rem;
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(10px);
    overflow: auto;
    overflow-anchor: none;
    
}

.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.form-group input,
.form-group textarea{
    font-size: 14px;
    border: none;
    padding: 8px;
    background-color: rgb(246, 246, 246);
    overflow: hidden;
}

.form-group input:focus,
.form-group textarea:focus{
    outline: none;
}

label{
    font-weight: 600;
    padding-bottom: .25rem;
}
textarea{
    height: 10rem;
}

/* link popup */
.link-group{
    margin-top: .5rem;
    margin-bottom: rem;
}

.modal-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* file popup */
#fileToUpload{
    margin-top: .5rem;
    margin-bottom: 1rem;
    border: 1px solid black;
    width: 100%;
    padding: .2rem;
}

#announcementModal,
#linkModal,
#fileModal{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 10px;


}
#announcementModal{
    display: none;
}

#linkModal{
    display: none;
}

#fileModal{
    display: none;
}


.close {
    font-size: 24px;
    color: #888;
    cursor: pointer;
}

.close:hover {
    color: #000;
}


/* Add Course */
.add-course 
{
    position: fixed;
    width: 800px;
    height: 400px;
    top: 50%;
    left: 50%;
    margin-left: -400px;
    margin-top: -200px;
    display: none;
    z-index: 4;
}
.add-course .popup .right .right-cont .right-item input[type="text"]
{
    width: 400px;
    margin-top: 10px;
    padding: 7px;
    font-size: 14px;
}
.add-course .popup .right .right-cont .right-item h3 
{
    font-size: 18px;
}
.upload 
{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(162, 88, 253) 0%, rgba(116,182,247,1) 90% );
    width: 100%;
}
/* Media Queries */
@media(max-width: 1024px)
{
    .add-course
    {
        width: 600px;
        height: 300px;
        margin-left: -300px;
        margin-top: -150px;
    }
     .add-course 
    {
        width: 300px;
    }
    
}

@media(max-width: 650px)
{
    .modal-container{
        flex-direction: column;
       height: 90vh;
       margin-top:2.5rem;
       
    }
    .modal-box{
        width: 100%;
        border-radius: 0 0 5px 5px;
    }
    .left{
        width: 100%;
        border-radius: 5px 5px 0 0;
    }
    .left-cont{
        display: flex;
        align-items: end;
    }
    .left-cont img{
        width: 100%;
        object-fit: contain;
    }

    textarea{
        height: 120px;
    }

    /* link popup */
    .link-group{
        margin-top: 1rem;
        margin-bottom: 5rem;
    }

    /* file popup */
    #fileToUpload{
        margin-top: 1rem;
        margin-bottom: 7rem;
        border: 1px solid black;
        width: 100%;
        padding: .2rem;
    }

    .add-course
    {
        width: 300px;
        height: 300px;
        margin-left: -150px;
        margin-top: -150px;
    }
    
     .add-course
    {
        width: 140px;
        font-size: 12px;
    }
    .second 
    {
        height: 150px;
    }

    .ac-btn button, .upload
    {   
        padding: 4px 8px;
        margin-right: 5px;
        text-align: center;
        font-size: 12px;
    }
    .cancel-icon 
    {
        width: 14px;
        height: 14px;
        cursor: pointer;
        margin-left: -20px;
        margin-top: 10px;
    }

}