.body
{
    padding-left: 300px;
    padding-top: 70px;
}
/* Heading and view button */
.groups-container
{
    display: flex;
    justify-content: center;
}
.groups-item 
{
    margin: 26px 30px;
}
.heading
{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(30, 30, 30);
}
.heading-item
{
    padding: 20px 0px;
}
.head 
{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(162, 88, 253) 0%, rgba(116,182,247,1) 90% );
    background-size: 100% 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
    padding-bottom: 5px;
}
.heading-name
{
    font-weight: bold;
    font-size: 38px;
    letter-spacing: 1px;
}
.view
{
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border-radius: 4px;
    border: none;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(162, 88, 253) 0%, rgba(116,182,247,1) 90% );
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.view:hover 
{
    background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(116,182,247,1) 0% ,  rgb(162, 88, 253) 90%);
}
.view-icon 
{
    width: 18px;
    height: 18px;
    margin-right: 5px;
}
/* Tabs */
.tabs
{
    display: flex;
    align-items: center;
}
.tab 
{
    padding: 10px 20px;
    margin-right: 50px;
    border-bottom: 3px solid transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.icon 
{
    width: 20px;
    height: 20px;
}
.tab p
{
    padding: 6px 12px;
    border-radius: 5px;
    font-size: 19px;
    color: rgb(30, 30, 30);
}
.not-current
{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(162, 88, 253) 0%, rgba(116,182,247,1) 90% );
    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 300ms ease;
}
.not-current:hover
{
    background-size: 100% 3px;
}
.current
{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(162, 88, 253) 0%, rgba(116,182,247,1) 90% );
    background-size: 100% 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 300ms ease;
    font-weight: bold;
}
/* Table view */
.table-item 
{
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
table
{
    border-collapse: collapse;
}
tr
{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(162, 88, 253) 0%, rgba(116,182,247,1) 90% );
}
th, td
{
    text-align: center;
    padding: 8px 60px;
    font-size: 16px;
}
th
{
    color: white;
}
td
{
    color: rgb(30, 30, 30);
    background-color: rgb(246, 246, 246);
}
.view-btn 
{
    padding: 4px 8px;
    border: none;
    background-color: rgb(246, 246, 246);
}
.view-btn a
{
    color: rgb(30, 30, 30);
    text-decoration: none;
    font-style: italic;
    background-color: rgb(246, 246, 246);
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(162, 88, 253) 0%, rgba(116,182,247,1) 90% );
    background-size: 0% 2px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 300ms ease;
}
.view-btn a:hover
{
    background-size: 100% 2px;
}
.page-num
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.page-num p
{
    padding: 4px 10px;
    margin: 3px;
    font-size: 15px;
}
.bracket 
{
    font-weight: bolder;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(162, 88, 253) 0%, rgba(116,182,247,1) 90% );
    color: white;
    border-radius: 3px;
}
.num 
{
    font-size: 17px;
}
.page-num p:nth-child(2)
{
    font-weight: bold;
}
.public-table, .private-table
{
    display: none;
}
/* Tab view */
.tab-item 
{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 100px;
    row-gap: 30px;
    margin: 50px 0px;
}
.tab-item .t 
{
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(162, 88, 253) 0%, rgba(116,182,247,1) 90% );
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.tab-item .t:hover 
{
    background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(116,182,247,1) 0% ,  rgb(162, 88, 253) 90%);
}
.default-tab, .private-tab, .public-tab
{
    display: none;
}
/* Media queries */
@media(max-width: 1500px)
{
    th,td 
    {
        padding: 8px 30px;
    }
    .tab-item
    {
        grid-template-columns: auto auto auto;
    }
}
@media(max-width: 1300px)
{
    th,td 
    {
        padding: 8px 20px;
    }
}
@media(max-width: 1200px)
{
    th,td 
    {
        padding: 8px 10px;
    }
    .tab-item
    {
        grid-template-columns: auto auto;
    }
}
@media(max-width: 1024px)
{
    .body
    {
        padding-left: 0px;
    }
    th,td 
    {
        padding: 10px 20px;
        font-size: 16px;
    }
    table 
    {
        width: 100%;
    }
    .heading-name 
    {
        font-size: 30px;
    }
    .tab-item 
    {
        grid-template-columns: auto auto auto auto;
        column-gap: 50px;
        row-gap: 30px;
        margin: 50px 0px;
    }
    .tab-item .t 
    {
        width: 100px;
    }
}
@media(max-width: 768px)
{
    th,td 
    {
        padding: 10px 10px;
        font-size: 16px;
    }
    table 
    {
        width: 80%;
    }
    .invisible
    {
        display: none;
    }
    .heading
    {
        flex-direction: column;
        align-items: center;
    }
    .view 
    {
        width: 100%;
    }
    .tab p
    {
        display: none;
    } 
    .page-num p
    {
        padding: 4px 4px;
    }
}
@media(max-width: 582px)
{
    table 
    {
        width: 100%;
    }
    .tab-item
    {
        grid-template-columns: auto auto auto;
    }

}
@media(max-width: 482px)
{
    table 
    {
        width: 80%;
    }
    .tab-item
    {
        grid-template-columns: auto auto;
    }
}
